#slideshow {
   #slideshow-container {
      .slide {
         width: 80%;
         height: 80%;
         top: 50%;
         left: 50%;
         transform: translate3d(-50%, -50%, 0);
         overflow: clip visible;

         .caption {
            display: none;
         }

         .wrapper {
            perspective: 2000px;

            img {
               display: none;
            }

            &::after,
            &::before {
               content: '';
               position: absolute;
               inset: 0;
               background: var(--url) center/cover no-repeat, #fff;
               clip-path: rect(0 50% 100% 0);
               transform-origin: 0 50%;
               transition: transform 0.5s step-start;
            }

            &::after {
               clip-path: rect(0 100% 100% 50%);
               transform-origin: 100% 50%;
            }


            &::before {
               transform: rotate3D(0, 1, 0, -90deg);
            }

            &::after {
               transform: rotate3D(0, 1, 0, 90deg);
            }
         }

         &.next {
            z-index: 1;

            .wrapper {

               &::after,
               &::before {
                  transform: rotate3D(0, 1, 0, 0deg);
                  transition: none;
               }
            }
         }

         &.active {
            z-index: 2;

            .wrapper {

               &::before,
               &::after {
                  transform: rotate3D(0, 1, 0, 0deg);
                  transition: transform 0.5s linear;
               }
            }
         }

         &.previous {
            z-index: 3;

            .wrapper {

               &::before,
               &::after {
                  transition: transform 0.5s linear;
               }

               &::before {
                  transform: rotate3D(0, 1, 0, -90deg);
               }

               &::after {
                  transform: rotate3D(0, 1, 0, 90deg);
               }
            }
         }
      }
   }
}